.store-cart {
  h2 {
    color: #0c0d36;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
  }

  .product-title {
    font-size: 18px;
    color: #0c0d36;
    margin-top: 15px;
  }

  .product-subtitle {
    font-size: 14px;
    color: #979797;
  }

  .table-cart {
    border-spacing: 1em;
    border-collapse: separate !important;
    tbody {
      tr {
        margin: 10px;
      }
    }
    .cart-image {
      border-radius: 8px;
      max-height: 85px;
    }

    .btn-remove-cart {
      margin-top: 18px;
      @include button-variant(#fc5e84, transparent);
    }
  }
}
