.store-breadcrumbs {
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .breadcrumb-item.active {
    font-weight: 400;
    color: #0c0d36;
  }

  a {
    color: #979797;
    text-decoration: none;
  }
}
