.card-dashboard-product {
  margin-bottom: 15px;

  .card-body {
    .product-title {
      color: #0c0d36;
      font-weight: normal;
      font-size: 18px;
    }
    .product-category {
      font-weight: normal;
      font-size: 16px;
      color: #c5c5c5;
    }
  }
}
